* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html, h1, h2, h3, p, span, li, button, input, textarea, a {
    font-family: 'Google Sans', sans-serif !important;
    margin-bottom: 25px;
}

body {
    background-color: var(--bg-light);
    color: var(--text-dark);
}

html {
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-weight: 700;
    letter-spacing: -0.5px;
}

p, li, label {
    font-weight: 400;
}
